<% if user_signed_in? %>
  <ul class="bxslider-bottom">
    <% commites.each do |c| %>
    <% product = Product.find(c.product_id) %>
      <a href="/products/<%= product.id %>">
       	<%= attachment_image_tag product, :picture, fallback: "img/no_image.jpg" %>
      </a>
    <% end %>
  </ul>
<% end %>