<% if user_signed_in? %>
    <div class="container">
      <ul class="bxslider-bottom">
        <% commites.each do |c| %>
          <li><%= attachment_image_tag product, :picture, fallback: "img/no_image.jpg" %></li>
        <% end %>
      </ul>
    </div>
<% end %>