<div class="sidebar col-xs-2 text-left">
  <% if admin_signed_in? %>
    <div class="sidebar-line">
    管理機能一覧
    </div>
    <div class="subteki">・商品管理</div>
      <p><a href="#">▶︎ 新規商品登録</a></p>
      <p><a href="#">▶︎ 商品の編集</a></p>
    <div class="subteki">・受注管理</div>
      <p><a href="#">▶︎ 注文履歴一覧</a></p>
    <div class="subteki">・会員情報管理</div>
      <p><a href="#">▶︎ 会員情報の編集</a></p>
    <div class="subteki">・その他</div>
      <p><a href="#">▶︎ 会員Topページへ</a></p>
  <% end %>

  <div class="sidebar-line">
    CDジャンル
  </div>
  <p><a href="#">▶︎ J-POP</a></p>
  <p><a href="#">▶︎ ロック＆ポップス</a></p>
  <p><a href="#">▶︎ R＆B/ソウル</a></p>
  <p><a href="#">▶︎ ヒップホップ</a></p>
  <p><a href="#">▶︎ クラブ/ダンス</a></p>
  <p><a href="#">▶︎ ワールド</a></p>
  <p><a href="#">▶︎ 洋楽</a></p>
  <p><a href="#">▶︎ アニメ</a></p>
</div>