 <div class="container">
  <div class="row content">
    <%= render partial: "top/sidebar" %>
    <div class="main col-xs-10 text-left">

      <!-- 上部リンク -->
      <div clas="link-top", style="margin: 20px; text-decoration: underline;">
        <span class="nav-list-item">
          <%= link_to "前のページに戻る", :back %>
        </span>
        <span class="nav-list-item", style="float: right; text-decoration: underline;">
          <%= link_to "TOP画面に戻る", root_path %>
        </span>
      </div>

      <h2 class="text-center", style="margin-top: 80px;">お問い合わせ</h2>
      <hr>

      <div style="font-size: 30px; text-align: left; margin: 50px;">現在、お問い合わせに関しましてお答え致しかねます。</div>

      <%= image_tag ('img/test7.jpg') %>


    </div>
  </div>
</div>