 <div class="container">
  <div class="row content">
    <%= render partial: "top/sidebar" %>
    <div class="main col-xs-10 text-left">

      <!-- 上部リンク -->
      <div clas="link-top", style="margin: 20px; text-decoration: underline;">
        <span class="nav-list-item">
          <%= link_to "前のページに戻る", :back %>
        </span>
        <span class="nav-list-item", style="float: right; text-decoration: underline;">
          <%= link_to "TOP画面に戻る", root_path %>
        </span>
      </div>

      <h2 class="text-center", style="margin-top: 80px;">CDジャンル区分一覧</h2>
      <hr>

      <table class="table table-hover">
        <tbody>
          <tr>
            <th>J-POP</th>
            <td>1990年代から流行している音楽で既存の歌謡曲でもなく海外のポップスでもない音楽の分類に入る。この時代にはカラオケも流行していてカラオケの素早い更新と共に曲の認知度も高くなるという傾向があった。日本の場合、アイドルソングもアニソンも演歌もクラシックも、流行に乗って売れたものは全て J-POPに分類される傾向がある。</td>
          </tr>
          <tr>
            <th>ロック</th>
            <td>1950年代にアメリカを起源としたいわゆるロックンロールから派生して、名づけらている音楽のジャンルをロック。1960年代以降にはイギリスを中心にさらにロック音楽の幅が広がりを見せている。
　　　　　　　</td>
          </tr>
          <tr>
            <th>ポップス</th>
            <td>1950年代から1960年代にかけて西洋でロックンロールから派生して現代的形態で始まったポピュラー音楽のジャンルの1つ。「ポピュラー音楽」と「ポップ・ミュージック」はしばしば同義で扱われ、「ポピュラー音楽」は人気がある全ての音楽を指すと定義される。
　　　　　　　</td>
          </tr>
          <tr>
            <th>R & B</th>
            <td>リズム&ブルースの略語として浸透している。叫ぶようにボーカルが歌い上げるスタイルが有名。リズムに揺られながら歌うスタイルはR&B独特な形。
            </td>
          </tr>
          <tr>
            <th>ソウル</th>
            <td>基本的にはリズム・アンド・ブルース（R&B）の一種であるといえる。1950年代から1960年代の初期にかけて、アメリカにおいてアフリカ系アメリカ人のゴスペルとブルースから発展しできた音楽の体系。R&Bなどの黒人由来の音楽が、ポピュラー・ミュージックとして広く認知され、広範囲にわたって発展・拡大した1960年代よりゴスペル色の濃厚な音楽を、ソウル・ミュージックと自然発生的に呼ばれるようになった。
            </td>
          </tr>
          <tr>
            <th>ヒップホップ</th>
            <td>ラップなどのリズミカルなミュージックからなる音楽のジャンルの一つである。または、そのリズム、セリフを同じ調子でリズミカルに繰り返すことを指す。ヒップホップの文化の一つとして発達し、その中でも主にMC（ラップ）、DJ（スクラッチ）、ブレイクダンス、落書きの4つに分かれている。
　　　　　　　</td>
          </tr>
          <tr>
            <th>Jazz</th>
            <td>アメリカ黒人の娯楽音楽として定義されている。ジャズの醍醐味は体の中から湧き出るようなあの即興演奏がジャズのアドリブとして長く音楽ファンの心を酔わせている。
            </td>
          </tr>
          <tr>
            <th>ブルース</th>
            <td>ブルースとジャズは言わば兄弟。ブルースはおもにギターで伴奏された歌を指し、ジャズは楽器演奏が主役。あまり恵まれているとは言えない 自分達の境遇をギター片手に歌ったものがブルース。ブルースは基本ギターと歌があればOKで、そのほかの楽器はこの二つを盛り上げるためのもの。そしてそのブルースを、歓楽街でのBGMやダンスミュージックとしてエンターテインさせたものがジャズ。
            </td>
          </tr>
          <tr>
            <th>クラブ</th>
            <td>ダンスを促進させる音楽、またはダンスに伴う音楽を指す。音楽ジャンルとしての概念ではなく、音楽全体の一面としての概念及び音楽性を表す上での概念として考えられる。しかし、近年では、ダンスミュージックとしてのジャンルが確立され、DJが何種類かの既成曲を好みによってサンプリング，編集したダンス音楽をダンス・クラブミュージックとする。
            </td>
          </tr>
          <tr>
            <th>クラシック</th>
            <td>古典的な意味ではこの「クラシック」と言う言葉は「格式」を意味する。なので、作曲者の年代の古い新しいを問わずに古来から伝わる西洋の音楽全般の芸術音楽を一般的に「クラシック」と位置付けている。
            </td>
          </tr>
          <tr>
            <th>サウンドトラック</th>
            <td>いわゆる映画音楽です。映画本編やゲームで使用されている音楽をアルバム化したもの。実際に曲の中に歌が入っていても音楽だけの場合でも同じように映画に使われているものとして扱われるのが一般的。
            </td>
          </tr>
          <tr>
            <th>アニメーション</th>
            <td>アニメ作品で使用される主題歌・挿入歌・イメージソング以外にも、インスト曲やBGM、そしてゲーム・ラジオドラマ・ドラマCD・声優・特撮などの曲もアニメソングと称されることがある.
            </td>
          </tr>
        </tbody>
      </table>




    </div>
  </div>
</div>