<p>users show</p>

<div class="container">
	<div class="row">
		<div class="col-xs-2">
			sidebar
		</div>
		<div class="col-xs-10">

			<h1>マイページ</h1>
			<hr>
			<div class="list-group">
			<a class="list-group-item">注文履歴</a><br>
			<a class="list-group-item">お気に入り</a><br>
			<%= link_to "ユーザ情報の編集", edit_user_path(current_user), class:"list-group-item" %><br>
			<a class="list-group-item">退会手続き</a>
			</div>










		</div>
	</div>
</div>