<div class="container">
 	<div class="row">
    	<%= render partial: "top/sidebar" %>
		<div class="col-xs-10">

			        <!-- 上部リンク -->
        <div clas="link-top", style="margin: 20px; text-decoration: underline;">

            <span class="nav-list-item", style="float: right; text-decoration: underline;">
              <%= link_to "TOP画面に戻る", root_path %>
            </span>
        </div>


			<div class="text-center thanks">
				<div><!--縦位置を揃えるための箱-->
					<h1>お買い上げありがとうございます。</h1>
					<h1>商品到着まで今しばらくお待ちください。</h1>
				</div>
			</div>
			<%= image_tag 'img/test4.jpg'%>


 		</div>
	</div>
</div>

<style>
<!--.thanks {width: 100%; height: 300px; background-color: #fff; display: flex; justify-content: center; align-items: center;}-->
</style>


<!-- 下部スライダー -->
<%= render 'top/browsing', commites: @commites, product: @product %>
