<div class="container">

	<div class="row">
    <%= render partial: "top/sidebar" %>
		<div class="col-xs-10">

			<h1>発送先・支払い方法の選択</h1>
			<hr>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">発送先の選択</h2>
				</div>
				<div class="panel-body">
					
					発送先
				</div>
			</div>










  		</div>
	</div>
</div>



<%= @quantity[0] %>