/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


body {
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Meiryo UI','Didot','Marion','Sylfaen',sans-serif;
}
.table {
  border: solid 1px #e8e8e8;
  padding:10px;/* セル内に余白を空ける */
  margin: 50px 50px 50px 50px;
}
.table th{
  background-color: rgba( 0, 0, 0, 0.3);
  height: 80px;
  width: 250px;
}
.inputmenu{
  width: 90%;
  margin: auto;
}
.guest-name {
  font-size: 20px;
  color: #FFFFFF;
  padding: 10px 0;
}
.midashi{
  font-size: 50px;
  margin: 50px 0 0 0;
  text-align: center;
}
.hed{
  height:142px;
}
.news{
  height: 490px;
}
section {
  margin-bottom: 2em;
  font-family: sans-serif;
}
img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
body{
  background-image: url(img/back1.jpg);
  background-size: cover;
}
header{
}
header .headline{
  font-size: 70px;
  color: #ffffff;
  letter-spacing: 0.1em;
}
.header-top{
  width: 100%;
  height: 90px;
  background-image: url(img/test1.png);
  background-size: cover;
  background-position: center;
}
.sidebar{
  height: 800px;
  background-image: url(img/sub2.jpg);
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 142px;
}
.sidebar-line{
  font-size: 20px;
  text-align: center;
  padding: 40px 0 0 0;
  color: #ffffff;
}
.subteki{
  color: #ffff;
  text-arign: center;
}
.main{
  max-height: auto;
  min-height: 700px;
}
.main-top{
  width: 100%;
  height: 750px;
}
.main-bottom{
  width: 100%;
  height: 850px;
}
.main-line{
  font-size: 30px;
  padding: 40px 0 20px 0;
}
.mainseet{
  width: 215px;
  height: 270px;
  float: left;
  margin: 0 15px 20px 0;
  border: 1px solid darkgray;
}
footer {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  background-color: rgba( 0, 0, 0, 0.1);
}
.button1{
  width: 600px;
  margin: auto;
}