<p>products index</p>

<div class="container">
	<div class="row">
		<div class="col-xs-2">
			sidebar
		</div>
		<div class="col-xs-10">
<h1>商品一覧</h1>
<table class = "table">
	<tbody>
		<tr>
			<td>画像</td>

			<td>
				<label>CDタイトル: </label>大正義<br>

			<label>アーティスト: </label>ポルカドットスティングレイ
			</td>

			<td>￥5,800</td>

			<td>
				<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span><br>
				お気に入りに追加
			</td>
		</tr>
		<tr>
			<td>画像</td>

			<td>
				<label>CDタイトル: </label>大正義<br>

			<label>アーティスト: </label>ポルカドットスティングレイ
			</td>

			<td>￥5,800</td>

			<td>
				<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span><br>
				お気に入りに追加
			</td>
		</tr>
	</tbody>
</table>

	</div>
</div>







