<p>products show</p>

<div class="container">
	<div class="row">
		<div class="col-xs-2">
			sidebar
		</div>
		<div class="col-xs-10">

<p>画像</p>
<h2>大正義</h2>
<h3>ポルカドットスティングレイ</h3>
<hr>
<h2>価格（税込）：￥5,800</h2>
<p>カートに入れる</p>
<p>お気に入り</p>




		</div>
	</div>
</div>